<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">    <title>Weather Data API</title>
</head>
<body>
<div class="container">
    <h3>This is a Flask Website</h3>
    <p>
    Flask is a micro web framework written in Python.
    It is classified as a microframework because it
    does not require particular tools or libraries.
    </p>

    <form method="POST">
        <p>Enter a value: </p>
        <input name="text" id="text">
        <input type="submit">
    </form>
    <p>{{value | safe}}</p>
</div>


</body>
</html>